.socialmedia-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    padding: 1rem;
    gap: 15px;
}

.socialmedia-buttons a{
    background-color: white;
    align-self: center;
    padding: 1em;
    border-radius: 50%;
    box-shadow: 0 5px 10px #b1323a98
}

.socialmedia-buttons a svg{
    width: 25px;
}

.socialmedia-buttons a:hover{
    background-color: #dd3d49;
}
